<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define sourceFoulder="C:\Users\Jake\Google Drive (jacob.field@prelimine.com)\repos\LitKit1_git\LitKit1\LitKit1\bin\Debug"?>
	<Product Id="*" Name="LitKit" Language="1033" Version="1.0.0.0" Manufacturer="Prelimine" UpgradeCode="4ae8090a-afda-4375-8bd1-181133cd6031">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id ="1" Cabinet="LitKit.cab" EmbedCab="yes" />
    <!-- PropertyRef Id="NETFRAMEWORK47"/ -->
		<!-- MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." / -->
    
    <!-- Add installer icon -->
    <!-- Icon Id="icon.ico" SourceFile="$(var.sourceFolder)..\..\..\" / -->
    <!-- Property Id="ARPPRODUCTION" Value="icon.ico" / -->
    
    <!-- Check for .NET version -->
    <!--Condition Message="This application requires .NET Framework 4.7.2. Please install the .NET Framework then run the installer again.">
      <![CDATA[Installed OR NETFRAMEWORK47]]>
    </Condition-->

    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="PrelimineLitKit" />
      </Directory>
      <!-- Directory Id="ProgramMenuFoler">
        <Directory Id="ApplicationProgramsFolder" Name = "Prelimine LitKit" />
      </Directory -->
      <!-- Directory Id="DesktopFolder" Name="Desktop" /> -->
    </Directory>

    <!-- files to the installer package -->
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="ProductComponent">
        <File Source="$(var.LitKit1.TargetPath)" />
      </Component>
    </DirectoryRef>


    <!-- Tell WiX to install the files-->
    <Feature Id="ProductFeature" Title="Main Application" Level="1">
			<ComponentRef Id="ProductComponent" />
    </Feature>
	</Product>


</Wix>
